html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.contactContainer {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.contactHeader {
    text-align: left;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.contactInfo p {
    margin-bottom: 10px;
}

.contactForm {
    max-width: 500px;
    margin: 0 auto;
}

.contactForm label {
    display: block;
    margin-bottom: 5px;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.contactForm textarea {
    resize: vertical;
}

.contactForm input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    outline: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.contactForm input[type="submit"]:hover {
    background-color: black;
    color: white;
    transition: all 250ms ease;
}

.contactForm input[type="submit"]:focus {
    outline: none;
}