html{
    scroll-behavior: smooth;
    background-color: black;
}

a{
  text-align: center;
}

.featured{
  padding: 5rem 0 0 0  ;
  color: white;
  text-align: center;
}
#featText{
  font-size: 5rem;
}
#featDesc{
  font-size: 2rem;
}
.carFeatured{
  text-align: right;
}
.buttonContainer{
  position: absolute;
  bottom: -13rem;
}
.buttonNav{
  text-decoration: none;
  color: black;
  font-size: 15rem;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

