html{
    scroll-behavior: smooth;
}
@font-face {
  font-family:  "Comic Sans MS", "Comic Sans", cursive;
  src: url();
}
.centerContent{
    font-family:  "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}


#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 99%;
}

.sticky + .content {
  padding-top: 60px;
}

.parallelogram{
  position: absolute;
  width: 56%;
  height: 100%;
  transform: skew(-20deg);
  background: #555;
  left: 50%;
  top: 44%;
}


.firstTitle{
  position: absolute;
}

.firstDescription{
  position: absolute;
}